In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv("data/Train.csv")
df.head()

,ID,DATOP,FLTID,DEPSTN,ARRSTN,STD,STA,STATUS,AC,target
0,train_id_0,2016-01-03,TU 0712,CMN,TUN,2016-01-03 10:30:00,2016-01-03 12.55.00,ATA,TU 32AIMN,260.0
1,train_id_1,2016-01-13,TU 0757,MXP,TUN,2016-01-13 15:05:00,2016-01-13 16.55.00,ATA,TU 31BIMO,20.0
2,train_id_2,2016-01-16,TU 0214,TUN,IST,2016-01-16 04:10:00,2016-01-16 06.45.00,ATA,TU 32AIMN,0.0
3,train_id_3,2016-01-17,TU 0480,DJE,NTE,2016-01-17 14:10:00,2016-01-17 17.00.00,ATA,TU 736IOK,0.0
4,train_id_4,2016-01-17,TU 0338,TUN,ALG,2016-01-17 14:30:00,2016-01-17 15.50.00,ATA,TU 320IMU,22.0

In [ ]:
# change "date" dtype to datetime with format %d/%m/%Y
df['date'] = pd.to_datetime(df['date'], format='%m/%d/%Y')
df['month'] = df['date'].dt.month

In [ ]:
#df = df.rename({'DATOP': 'dof', 'FLTID': 'flight_no', 'DEPSTN':'dep_pt', 'ARRSTN':'arr_pt', 'STD':'scheduled_dep', 'STA':'scheduled_arr','AC':'aircraft_code'}, axis=1)
#df.columns.str.lower()

In [ ]:
df.nunique()

In [ ]:
df.info()

In [ ]:
df.describe()

In [4]:
df['time'] = pd.to_datetime(df['STD']).dt.time

In [8]:
df['STD'] = pd.to_datetime(df['STD'])
df['DATOP'] = pd.to_datetime(df['DATOP'])

In [11]:
df['STA'].replace('\.',':', regex=True,inplace=True)

In [12]:
df['STA'] = pd.to_datetime(df['STA'])

In [9]:
df['STDminutes'] = df['STD'].dt.hour * 60 + df['STD'].dt.minute + df['STD'].dt.second/60

In [13]:
df['STAminutes'] = df['STA'].dt.hour * 60 + df['STA'].dt.minute + df['STA'].dt.second/60

In [15]:
df['time_flight'] = df['STAminutes'] - df['STDminutes']

In [19]:
df.drop(columns=['STDminutes', 'STAminutes','time'])

,ID,DATOP,FLTID,DEPSTN,ARRSTN,STD,STA,STATUS,AC,target,time_flight
0,train_id_0,2016-01-03,TU 0712,CMN,TUN,2016-01-03 10:30:00,2016-01-03 12:55:00,ATA,TU 32AIMN,260.0,145.0
1,train_id_1,2016-01-13,TU 0757,MXP,TUN,2016-01-13 15:05:00,2016-01-13 16:55:00,ATA,TU 31BIMO,20.0,110.0
2,train_id_2,2016-01-16,TU 0214,TUN,IST,2016-01-16 04:10:00,2016-01-16 06:45:00,ATA,TU 32AIMN,0.0,155.0
3,train_id_3,2016-01-17,TU 0480,DJE,NTE,2016-01-17 14:10:00,2016-01-17 17:00:00,ATA,TU 736IOK,0.0,170.0
4,train_id_4,2016-01-17,TU 0338,TUN,ALG,2016-01-17 14:30:00,2016-01-17 15:50:00,ATA,TU 320IMU,22.0,80.0
...,...,...,...,...,...,...,...,...,...,...,...
107828,train_id_107828,2018-07-05,WKL 0000,TUN,TUN,2018-07-05 23:00:00,2018-07-06 02:00:00,SCH,TU 32AIML,0.0,-1260.0
107829,train_id_107829,2018-01-13,UG 0003,DJE,TUN,2018-01-13 08:00:00,2018-01-13 09:00:00,SCH,UG AT7AT7,0.0,60.0
107830,train_id_107830,2018-11-07,SGT 0000,TUN,TUN,2018-11-07 05:00:00,2018-11-07 12:50:00,SCH,TU 736IOK,0.0,470.0
107831,train_id_107831,2018-01-23,UG 0010,TUN,DJE,2018-01-23 18:00:00,2018-01-23 18:45:00,ATA,TU CR9ISA,0.0,45.0
107832,train_id_107832,2018-11-13,UG 0002,TUN,DJE,2018-11-13 06:15:00,2018-11-13 07:05:00,SCH,TU CR9ISA,0.0,50.0